//colors
$whiteColor:#fff;
$blackColor:#191919;
$grayColor:#666;
$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGray: hsl(0, 0%, 59%);

//Fonts
$sans:sans-serif;
$gentiumFont: 'Gentium Book Basic',
serif;
$openSansFont:'Open Sans',
sans-serif;
$rubikFont:'Rubik',
sans-serif;

//weight
$light:300;
$regular:400;
$bold:500;