//colors
$whiteColor:#fff;
$transWhiteColor:rgba(250, 250, 250, .4);
$blackColor:#191919;
$grayColor:#666;
$greenColor:green;


//Fonts
$sans:sans-serif;
$gentiumFont: 'Gentium Book Basic',
serif;
$openSansFont:'Open Sans',
sans-serif;

//weight
$light:300;
$regular:400;
$bold:500;